// Place all the styles related to the urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title{
  text-align: center;
  font-family: sans-serif;
}

.form1{
  text-align: center;

}

.list{
  text-align: center;
}

.visit{
  font-family: sans-serif;
}
